@using B2CRestApi.Properties
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="home" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container home-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="image-center">
                            <img alt="Wingtip Toys" class="logo" src="/images/logo.png" />
                        </div>
                        <h3 class="text-center">Welcome to the Wingtip Toys API</h3>
                        <h5 class="text-center">This site hosts <a href="/Help">the Loyalty REST API</a> that is integrated in to the advanced policies that have been published to tenant @string.Format("'{0}'", Settings.Default.B2CTenant).</h5>
                        <p class="text-center">
                            <a class="btn btn-primary" href="https://github.com/beejones/B2CDemoTools/tree/master/B2CRestApi" target="_blank">Go to code &raquo;</a>
                        </p>
                        <p class="text-center">
                            <a class="btn btn-primary" href="http://b2cauthapi.azurewebsites.net/" target="_blank">Go to deployment &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
