@using System.Security.Policy
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Link", "Account", FormMethod.Post, new { id = "linkForm" }))
    {
        @Html.AntiForgeryToken()
    }
    using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { id = "editProfileForm" }))
    {
        @Html.AntiForgeryToken()
    }
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logOutForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <img alt="Picture" class="login-dropdown-toggle-picture" src="@User.Identity.GetPictureUrl()" />
                <span>@User.Identity.GetDisplayName()</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-login">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="text-center">
                                    <img alt="Picture" class="login-dropdown-menu-picture" src="@User.Identity.GetPictureUrl()" />
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <p class="login-name text-left">
                                    <strong>@User.Identity.GetDisplayName()</strong>
                                </p>
                                <p class="login-email text-left">
                                    <small>@User.Identity.GetEmailAddress()</small>
                                </p>
                                <p class="login-listener-genre text-left">
                                    <small><span class="badge">@User.Identity.GetListenerGenre()</span></small>
                                </p>
                                <p class="text-left">
                                    <a class="btn btn-primary btn-block btn-sm" href="javascript:document.getElementById('editProfileForm').submit()">Edit your listener profile</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="navbar-login navbar-login-session">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a class="btn btn-danger btn-block" href="javascript:document.getElementById('logOutForm').submit()">Log out</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="visible-xs">
            <a href="javascript:document.getElementById('editProfileForm').submit()">Edit your listener profile</a>
        </li>
        <li class="visible-xs">
            <a href="javascript:document.getElementById('logOutForm').submit()">Log out</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a class="btn btn-danger demo-btn navbar-btn" href="@Url.Action("Index", "Demo")">Demo</a>
        </li>
        <li class="hidden-xs">
            <div class="btn-group">
                <a class="btn btn-success navbar-btn" href="@Url.Action("LogIn", "Account", new {ReturnUrl = Url.Action("Index", "Home")})">Sign up or sign in</a>
            </div>
        </li>
        <li class="visible-xs">
            <a href="@Url.Action("Index", "Demo")">Demo</a>
        </li>
        <li class="visible-xs">
            <a href="@Url.Action("LogIn", "Account", new {ReturnUrl = Url.Action("Index", "Home")})">Sign up or sign in</a>
        </li>
    </ul>
}
